footer {
    background-color: #f3cbf1;
    text-align: center;
    #footer-title {
        margin-top: .7rem;
    }

    .media {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    #developed-by {
        margin-top: 12px;
        margin-left: 16.4rem;
        opacity: 50%;
        margin-bottom: .7rem;
    }
}
