#line {
    margin-top: -1.5rem;
    width: 100px;
    margin-left: 68px;
    margin-right: 68px;
    border: 1px solid #d58d99;
    margin-bottom: 2rem;
}

#line-big{
    margin-top: -1.5rem;
    width: 200px;
    margin-left: 68px;
    margin-right: 68px;
    border: 1px solid #d58d99;
    margin-bottom: 2rem;
}