#page-principal {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logout {
        width: 1.5rem;
    }

    h3{
        margin-top: 3rem;
        font-size: 1.5rem;
    }

    .icon{
        width: 25px;
        margin-top: 2.6rem;
        margin-left: ;
    }

    #navigation{
        display: flex;
        flex-direction: row;
    }
}
