#page-principal {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logout {
        width: 1.5rem;
    }

    h3{
        margin-top: 5rem;
        font-size: 1.5rem;
    }
}
