* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image: url(../assets/images/bg.png);
    color: #29292e;
}

#img.cabec{
    width: 100%;
}

#logo-cabec{
    margin-bottom: 3.3rem;
    margin-top: -15rem;
    margin-left: 0.8rem;
}

#img-footer{
    bottom: 0;
    position: absolute;
}

body, input, button, textarea{
    font: 400 10px 'Roboto', open-sans;
}

b{
    font-weight: bold;
}